@media screen and (max-width : 36em) {
    .product {
        div:nth-child(3) {
            display: none;
        }

        div:nth-child(4) {
            display: none;
        }
    }
}

.img {
    width: 50vw;
    background-color: antiquewhite;
}

.banner {
    width: 100%;
}




.image {
    display: flex;
    cursor: pointer;



    .titlebtn {
        width: 100%;
        height: 57px;
        background: #EFEFF4;
        padding: 15px;
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 16px;
            line-height: 27px;
            text-transform: uppercase;
        }

        .btnshopnow {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }
    }
}

.sanphammoi {
    color: #070707;
    text-transform: uppercase;
    margin: 0px;
    font-size: 32px;
    line-height: 54px;
    text-align: center;
    min-height: 80px;
    margin-top: 30px;


}


.btnprew {
    position: absolute;
    height: 500px;
    margin-left: 16px;

    button {

        background-color: rgba(0, 0, 0, 0.2);
        border: 0px;
        position: absolute;

        left: 24%;
        top: 40%;
        z-index: 1;

        svg {
            transform: rotate(180deg);
            color: white;
        }

    }
}



.btnnext {
    position: relative;

    height: 500px;
    margin-right: 30px;

    button {
        background-color: rgba(0, 0, 0, 0.2);
        border: 0px;
        position: absolute;
        color: white;
        right: 20%;
        top: 40%;
    }
}



.body {
    width: 100vw;



    .product {

        margin: auto;

        // width: 1300px;
        width: 1300px;
        margin-bottom: 50px;


        .container {
            width: 105%;
          
            cursor: pointer;
         

            .animation {
                width: 100%;
                position: relative;

                .img {
                    width: 100%;
                    height: 100%;
                    transition: .5s ease;
                    opacity: 1;

                }

                .middle {
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.5);
                    width: 0%;
                    height: 100%;
                    transition: width 0.3s;

                    .middle1 {
                        transition: .5s ease;
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: -50%;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        text-align: center;
                        width: 80%;
                        border: 1px white;
                        transition: opacity 0.3s, left 0.3s;

                        .text {

                            border: 1.1px solid;
                            width: 100%;
                            color: white;
                            font-size: 15px;
                            padding: 9px;
                        }
                    }

                    .middle1:hover .text {
                        background-color: white;
                        color: black;
                        border: 0px;
                    }


                }
            }

            .animation:hover .middle1 {
                opacity: 1;
                left: 50%;
            }

            .animation:hover .middle {
                width: 100%;
            }
        }

   


        div {

            text-align: center;
        }

        a {
            display: inline-block;
            font-size: 14px;
            line-height: 21px;
            color: #8A8A8F;
            height: 38px;
            font-weight: bold;
        }
    }
}

.nextimg {
    background-color: #8A8A8F;
    position: absolute;
    width: 40px;
    height: 40px;
}